/* ### Estrutura ### */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../_imagens/fundo.png) repeat-x;
}

#principal {
	width: 750px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

#topo {
	height: 150px;
	background: url(../_imagens/logo-topo.png) no-repeat right top;
	padding-top: 25px;
	/*border: 1px solid red;*/
}

.logo {
	width: 152px;
	height: 66px;
	background: url(../_imagens/logo.png) no-repeat center;
	text-indent: -4000px;
}

/* ### Navegação ### */
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul {
	background: #ff0000;
	margin-top: 30px;
	float: left;
}

#topo ul li {
	float: left;
}

#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2em;
	text-decoration: none;
	color: #fff;
}

#topo ul a:hover {
	color: #69001d;
}

/* ### Layout Colunas ### */
#conteudo {
	background: #EEE9E9;
	margin-top: 65px;
}

#primeiro {
	width: 270px;
	margin: 0 0 20px 195px; /* Margem esquerda com 180px + 15px para espaçamento */
	float: left;
}

#segundo {
	width: 270px;
	margin: 0 0 20px 15px;
	float: left;
}

#lateral {
	width: 180px;
	margin: 0 0 20px -750px; /* Margem esquerda negativa para colcoar a div no início do container*/
	float: left;
}

/* ### Conteúdo do Site [colunas] ### */

.caixa {
	background: #f3f3f3 url(../_imagens/fundo-caixa.png);
	margin: 10px 0;
	padding: 5px;
}

.caixa-conteudo {
	background: #fff;
	margin-top: 5px;
	padding: 5px;
}

h2 {
	font-size: 1.1em;
	background: #003380;
	color: #fff;
	padding: 5px;
}

/* ### Rodapé ### */
#container-rodape {
	clear: both;
	background: #003380;
	padding: 25px;
}

#rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;
}